body,ul,p{margin:0;padding: 0}
li{list-style: none;}
a{text-decoration: none;color:black;}
.clear{zoom:1;}
.clear:after{content:'';display: block;clear:both;}

body{padding-top: 30px;background: #f6f5f2;}

#header{background:black;color:#fff;height: 60px;line-height: 60px;margin: 0 auto;display: flex}
#header span{font-size: 45px;float: left;padding-left: 10px;}
#header ul{float: right;}
#header ul li{float: left;width:25%;}
#header ul li a{display: block;color:#fff;width:100%;height: 60px;text-align: center;}
#header ul li a:hover{background: green;}

#content{display: flex;margin-top: 50px;}
#content #time{width:160px;height: 160px;;margin: 0 auto;border:1px solid #000;
                border-radius:50%;
}
#content #time{position: relative;}
#content #time ul li{
    position: absolute;width:2px;height: 6px;background: #000;left:80px;
    transform-origin:center 80px;-webkit-transform-origin:center 80px;-moz-transform-origin:center 80px;
}
#content #time ul li:nth-of-type(5n){height: 10px;}
#content #time #sec,#min,#hour{position: absolute;left:79px;width:2px;background: #000;
                                transform-origin:center bottom;
                                -webkit-transform-origin:center bottom;
                                -moz-transform-origin:center bottom;
                            }
#content #time #sec{top:20px;height: 60px;width:2px;background: #000;} 
#content #time #min{top:30px;height: 50px;width:2px;background: blue;} 
#content #time #hour{top:40px;height:40px;width:2px;background: orange;} 

#content .content_menu_mod{border:1px solid #EEEEE0;margin-top: 20px;background: #fff;padding: 10px;}
#content .content_menu_mod ul,p{font-size:16px;}
#content .content_menu_mod ul li{line-height: 26px;height: 26px;padding-left: 10px;}
#content .content_menu_mod p{min-height: 30px;padding-left: 10px;}
#content .content_menu_mod a:hover{text-decoration:underline;}

#content #content_blog{margin:0 auto;}
#content .content_blog_single{background: #fff;min-height: 200px;padding: 10px;margin-bottom: 20px;}
#content .content_blog_single .summary{font-size:16px;color:#555;margin-bottom: 20px;line-height:30px;}
#content .content_blog_single .more{float: right;}
